:root {
  --primary-color: #f4ff63;
  --secondary-color: #5bc3bb;
  --background-color: #f4fbfa;
  --text-color: #262724;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--text-color);
  background-color: var(--background-color);

}

main {
  padding: 1rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px var(--text-color);
  background-color: var(--secondary-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border-top: solid 3px var(--primary-color);
  border-bottom: solid 3px var(--primary-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

nav a[aria-current='page'] {
  background-color: var(--primary-color);
}

nav a:hover {
  background-color: var(--primary-color);
  color: black;
}

a {
  color: var(--secondary-color)
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-size: 1em;
}

.child {
  border: solid 1px black;
  padding: 1rem;
  background: var(--primary-color);
}

.parent {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  background-color: var(--secondary-color);
}

#examplebox {
  background-color: var(--secondary-color);
  padding: 1rem;
}

.classwork { 
  background-color: var(--secondary-color);
  margin-top: 1rem;
}

.classwork2 { 
  background-color: var(--secondary-color);
  margin-top: 1rem;
  width: 50%;
}